<strong>Olá, {{ organizer }} </strong>
<p>Aconteceu uma inscrição no seu meetup, confira os detalhes abaixo:</p>
<p>
  <strong>Participante: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <small>
    Acompanhe os inscritos no seu meetup
  </small>
</p>